/* Fuente */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Paleta de colores */
:root {
  --fondoNegro: rgb(42, 45, 61);
  --fondoAzul: rgb(83, 83, 165);
  --titulos: #ffffff;
  --principal: #dfe9f3;
  --boton: rgb(86, 63, 218);
  --botonHover: rgb(66, 49, 160);
}

/* Globales */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 3vw;
  font-family: "Open Sans", serif;
  color: var(--principal);
  background-image: linear-gradient(to bottom, var(--fondoAzul) 0%, var(--fondoNegro) 35%);
  background-size: cover;
  margin: 0;
}

.contenedor {
  max-width: 90vw;
  margin: 0 auto;
}

/* Tipografia */
h1 {
  font-size: 5vw;
}
h2 {
  font-size: 4vw;
}

h1,
h2 {
  color: var(--titulos);
  text-align: center;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.header-container .mi-cuenta img {
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
}

/* Footer */
.footer-bg {
  background-image: linear-gradient(to top, var(--fondoAzul) 0%, var(--fondoNegro) 100%);
}

.footer-container {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container p {
  font-weight: bold;
}

/* ----- FORM */

/* Estilo para el contenedor del input y botón */
.form-container {
  display: flex;
  align-items: center;
  gap: 3vw;
}

/* Estilo del input */
.form-container input {
  padding: 2vh 2vw;
  border: 2px solid var(--fondoAzul);
  border-radius: 5px;
  background-color: var(--fondoNegro);
  color: var(--principal);
  width: 100%;
}

.form-container input::placeholder {
  color: var(--principal);
  opacity: 0.7;
}

/* Estilo del botón */
.form-container button {
  padding: 2vh 2vw;
  background-color: var(--boton);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--titulos);
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: var(--botonHover);
}

/* Estilo del icono dentro del botón */
.form-container button i {
  margin: 0;
}

/* ----- LISTAS DE TAREAS */

/* Estilo general del contenedor de la tarea */
.lista-tareas .task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--fondoAzul);
  padding: 2vh 2vw;
  border-radius: 8px;
  margin-bottom: 2.5vh;
  transition: background-color 0.3s ease;
}

/* Estilo del botón check (círculo vacío) */
.lista-tareas .check-button,
.lista-tareas .uncheck-button {
  background-color: transparent;
  border: 2px solid var(--titulos);
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  cursor: pointer;
  margin-right: 3vw;
  color: var(--titulos);
  transition: color 0.3s ease;
}

.lista-tareas .check-button:hover,
.lista-tareas .uncheck-button:hover {
  border: 2px solid var(--principal);
}

/* Estilo del contenido de la tarea */
.lista-tareas .task-content {
  flex-grow: 1;
  color: var(--principal);
}

/* Estilo de los botones de acción (editar y eliminar) */
.lista-tareas .action-button {
  background-color: transparent;
  border: none;
  color: var(--titulos);
  cursor: pointer;
  margin-left: 3vw;
  transition: color 0.3s ease;
  font-size: 3.5vw;
}

.lista-tareas .action-button:hover {
  color: var(--principal);
}

#lista-tareas-completadas .task-container .task-content {
  text-decoration: line-through;
}

@media (min-width: 768px) {
  .contenedor {
    max-width: 50vw;
  }
  body {
    font-size: 1vw;
  }
  h1 {
    font-size: 2vw;
  }
  h2 {
    font-size: 1.5vw;
  }
  .header-container .mi-cuenta img {
    height: 5vw;
    width: 5vw;
  }
  .lista-tareas .check-button,
  .lista-tareas .uncheck-button {
    width: 2vw;
    height: 2vw;
  }
  .lista-tareas .action-button {
    font-size: 1.5vw;
  }
}
